body {
    font-family: 'Arial', sans-serif;
    background-color: #FEFAE0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1, h2 {
    font-family: 'Verdana', sans-serif;
    margin-bottom: 20px;
}

.task-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input, select {
    border: 2px solid #ccc;
}

.add-button {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.add-button:hover {
    background-color: #218838;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-card {
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-card.low {
    background-color: #669BBC;
    color: #333;
}

.task-card.medium {
    background-color: #C1121F;
}

.task-card.high {
    background-color: #780000;
}

.task-card button {
    background-color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: #333;
}

.task-card button:hover {
    background-color: #f1f1f1;
}
